<div class="page-header">
  <h1><%= @list.name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Submissions</th>
    </tr>
  </thead>
  <tbody>
    <% @list.students.each do |student| %>
      <tr>
        <td><i class="icon-envelope"></i><%= mail_to student.email %></td>
        <td>
          <span class="label label-<%= label_for_student(student.unique_submissions.count, @list.homeworks.count) %>">
            <%= display_for_student(student.unique_submissions.count, @list.homeworks.count) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back', root_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_list_path(@list), :class => 'btn' %>
  <%= link_to 'Delete', list_path(@list), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
